@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../core/scss/variables.scss";

::ng-deep.dark-mode .mat-toolbar.subheader {
  background-color: $background-color-subheader-light !important;
  color: $text-subheader-light;
}
::ng-deep.mat-toolbar.subheader {
  background-color: $background-color-subheader-dark !important;
  color: $text-subheader-dark;
  height: 85px;
  @extend .px-2;
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  .subtitle {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 0;
  }
  .sub-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-left: 10px;
  }
}
