<div class="container h-100">
  <div class="row">
    <h4>Escolha o tipo de transmissão.</h4>
    <p>
      O prazo para envio da declaração é 180 dias. Após essa data, o
      preenchimento será apagado.
    </p>

    <div class="col-12 col-sm-8 mx-auto pt-4">
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="w-100 mb-2"
        routerLink="causa-mortis/dados-basicos"
      >
        CAUSA MORTIS
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="w-100 mb-2"
      >
        Cessão de direitos hereditários
      </button>
    </div>
  </div>
</div>
