<div class="container h-100">
  <div class="row mb-5">
    <h4>Escolha o tipo de transmissão.</h4>
    <p>
      O prazo para envio da declaração é 180 dias. Após essa data, o
      preenchimento será apagado.
    </p>

    <div class="col-12 col-sm-8 mx-auto pt-4">
      <!-- <button
        mat-raised-button
        color="primary"
        type="button"
        class="w-100 mb-2"
        routerLink="causa-mortis/dados-basicos"
      >
        CAUSA MORTIS
      </button> -->
      <button
        *ngFor="let tipo of tiposTransmissao"
        mat-raised-button
        color="accent"
        type="button"
        class="w-100 mb-2"
        (click)="redirect(tipo.id)">
        {{ tipo.descricao }}</button
      >
    </div>
  </div>
</div>
