@use "@angular/material" as mat;
@import "~@angular/material/theming";
@import "./app/core/scss/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$itcd-sef-web-primary: mat.define-palette($primary-palette-light);
$itcd-sef-web-accent: mat.define-palette($accent-palette-light);
$itcd-sef-web-warn: mat.define-palette($warn-palette-light);

$itcd-sef-web-primary-dark: mat.define-palette($primary-palette-dark);
$itcd-sef-web-accent-dark: mat.define-palette($accent-palette-dark);
$itcd-sef-web-warn-dark: mat.define-palette($warn-palette-dark);

// Create the theme object (a Sass map containing all of the palettes).
$itcd-sef-web-light-theme: mat.define-light-theme($itcd-sef-web-primary, $itcd-sef-web-accent, $itcd-sef-web-warn);

$itcd-sef-web-dark-theme: mat.define-dark-theme(
  $itcd-sef-web-primary-dark,
  $itcd-sef-web-accent-dark,
  $itcd-sef-web-warn-dark
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($itcd-sef-web-light-theme);

// @include mat.core-theme($dark-theme);
// @include mat.button-theme($dark-theme);

.dark-mode {
  @include mat.all-component-themes($itcd-sef-web-dark-theme);
  transition: 300ms;
}

$itcd-typography: mat.define-typography-config(
  $font-family: "Inter",
);

$itcd-theme: mat.define-light-theme(
  (
    typography: $itcd-typography,
  )
);

@include mat.all-component-themes($itcd-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Inter", sans-serif;
}

#app-itcd {
  color: #454a4d;
  background-color: $background-color-light !important;
  &.dark-mode {
    color: $text-header-dark;
    background-color: $background-color-dark !important;
  }
}

a:link {
  text-decoration: none;
  color: white !important;
}
// ============================ ANGULAR MATERIAL CUSTOMIZATIONS

//========================= MAT - INPUT
.mat-form-field-prefix,
.mat-form-field-suffix {
  color: #666666;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0px !important;
}

.dark-mode .mat-datepicker-toggle,
.dark-mode .mat-datepicker-content .mat-calendar-next-button,
.dark-mode .mat-datepicker-content .mat-calendar-previous-button {
  color: #666666;
}
.dark-mode .mat-form-field-label {
  color: #666;
}

.dark-mode .mat-form-field.mat-focused .mat-form-field-label {
  color: $primary-color-light;
}
.dark-mode .mat-focused .mat-form-field-required-marker {
  color: $warn-color-dark;
}
.dark-mode .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #1a1a1a;
}

.mat-form-field-appearance-fill.ng-valid:not(.mat-focused) .mat-form-field-flex {
  background-color: transparent;
}

// ============================ MAT BUTTONS
.mat-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  font-size: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
.button-form-icon mat-icon {
  color: #666;
}

// ================================ MAT-CARD
.dark-mode {
  mat-card {
    mat-card-title {
      background: linear-gradient(219.11deg, #262626 76.98%, #19a6ff 250.17%) !important;
    }
  }
}
mat-card {
  mat-card-title {
    @extend .d-flex;
    @extend .justify-content-between;
    border-radius: 6px 6px 0px 0px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding: 24px 43px;
    background: linear-gradient(219.11deg, #ffffff 76.98%, #19a6ff 250.17%);
    transition: opacity 0.15s linear;
    border-bottom: 1px solid #332e30;
  }
  margin-top: 24px;
  padding: 0 !important;
  mat-card-content {
    padding: 46px;
  }
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.dark-mode .mat-card {
  background: #262626;
  // color: white;
}

@media (max-width: 500px) {
  mat-card {
    mat-card-title {
      padding: 15px 15px;
    }
    margin-top: 24px;
    padding: 0 !important;
    mat-card-content {
      padding: 16px;
    }
  }
}

// ======================================== MAT-RADIO-BUTTON
.mat-radio-group {
  position: relative;
  padding-top: 15px;
  font-size: 16px;
  .mat-radio-button {
    margin-top: 29px;
    padding-right: 15px;
  }
  mat-label {
    font-weight: 400;
    position: absolute;
  }
}

// ======================= Global classes for texts
.itcd-text-primary {
  color: $primary-color-light;
}
